{% extends "base.html" %}

{% block content %}
    <h1>Create post</h1>
    <form action="/yl_host/create_post/{{ subreddit.name }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body(class="form-control") }}<br>
            {% for error in form.body.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.images.label }}<br>
            {{ form.images(class="form-control", multiple="multiple") }}<br>
            {% for error in form.images.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        {% if message %}<div class="alert alert-success" role="alert">{{ message }}</div>{% endif %}
        {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endif %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}