{% extends "base.html" %}

{% block content %}
    <h1>Log in</h1>
    <form action="/yl_host/login" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        {{ form.recaptcha }}
        {% if message %}<div class="alert alert-success" role="alert">{{ message }}</div>{% endif %}
        {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endif %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}